.order-main .container {
  margin: 0 auto;
  width: 1200px;
}
.order-main .container .order-body {
  padding: 10px;
  color: #333;
}
.order-main .container .order-body:after {
  content: "";
  display: block;
  clear: both;
}
.order-main .container .order-body .order-left {
  float: left;
  width: 16.67%;
}
.order-main .container .order-body .order-left dl {
  line-height: 28px;
}
.order-main .container .order-body .order-left dl dt {
  font-weight: 700;
  padding: 5px;
}
.order-main .container .order-body .order-left dl dt i {
  color: #77b72c;
}
.order-main .container .order-body .order-left dl dd {
  margin: 0 0 6px;
  border-bottom: 1px solid #ededed;
  text-align: center;
}
